
.ct-footer {
    font-size: 90%;
    text-align: center;
    background-color: #f7f7f7;

    a {
        font-weight: 500;
        color: $gray-700;

        &:hover,
        &:focus {
            color: $link-color;
        }
    }

    p {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
        text-align: left;
    }
}

.footer-text-sup {
    color: black !important;
    font-size: 26px;
    font-weight: 500;
}

.footer .footer-copyright {
    font-size: 1rem;
    color: #333333;
    a{
        color: #333333;
        font-weight: 500;
    }
}
.footer .nav-footer .nav-link {
    font-size: 1rem;
}

.footer-social-list {
    font-size: 18px;
    font-weight: 600;

    >div {
        display: flex;
        align-items: center;

        >svg {
            color: #333333;
            margin-right: 10px;
        }
    }
}

.ct-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;

    li {
        display: inline-block;

        +li {
            margin-left: 1rem;
        }
    }
}