.section {
    position: relative;
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
}

.order-btn {
    margin-top: 20px;
}

.viber_container {
    display: none;

    @include media-breakpoint-down(md) {
        display: block;
    }
}

.fill-white {
    fill: #f4f5f7 !important;
}

.section-contact-us {
    background: #f4f5f7;
}

.animatied-relative .section-hero {
    padding-bottom: 0;
}

.animatied-relative .section-hero .hero-shape-inner {
    padding-bottom: 6rem !important;
}

.info-changeName {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
}

.info-inner-win {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    >div {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 5px;
        color: black;

        >svg {
            margin-right: 10px;
        }
    }
}

.gm-style .gm-style-iw-c {
    background: #f4f5f7 !important;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
    background: #f4f5f7 !important;
}

.gm-style .gm-style-iw-tc::after {
    background: #f4f5f7 !important;
}


.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carusel-section {
    padding-bottom: 4rem;
}

.coin_section {
    padding-top: 0;
}

.footer_contacts_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;

    >div {
        display: block;
        white-space: nowrap;
    }
}

.first-about-block{
    .image-block {
        border-radius: 12px;
        overflow: hidden;
    }
}

.slider-home img {
    height: 400px;
    object-fit: cover;
}

.form-control {
    padding-right: calc(1.5em + 1.25rem) !important;
    background-position: right calc(0.375em + 0.3125rem) center !important;
    background-size: calc(0.75em + 0.625rem) calc(0.75em + 0.625rem) !important;

    &.form-control-alternative {
        background-position: top calc(0.375em + 0.3125rem) right calc(0.375em + 0.3125rem) !important;
        resize: none;
        box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    }
}

.map-section {
    width: 100%;
    height: 550px;
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.input-group {
    margin-bottom: 10px;
}

.hero-modal {

    .was-validated .notValidationInput .form-control:valid,
    .notValidationInput .form-control.is-valid {
        background-image: none !important;
    }

    .notValidationInput {
        background-image: none !important;
        border-color: #cad1d7 !important;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .btn-round {
        margin-bottom: 20px;
        margin-top: 10px;
        background: black;
        border: none;
        height: 43px;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: 0.3s;
        color: white;

        &:hover {
            background: #f4f5f7;
            color: black;
        }
    }

    .btn-center {
        display: flex;
        justify-content: center;
    }

    .input-group .input-group-prepend+.rdt .form-control {
        border-right: none;
    }

    .modal-header {
        background: #f4f5f7;
        border-radius: 12px 12px 0 0;
    }

    .first-modal-inner {
        background: #fff;
        border-radius: 0 0 12px 12px;
    }

    .form-control {
        background-color: #f4f5f7;
    }

    .input-group-text {
        background-color: #f4f5f7;
    }
}

.hero-modal-header {
    background-color: #f4f5f7;
    border-radius: 12px 12px 0 0;
}


.carusel-section{
    background: url('../../img/brand/decorImg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 25%;
}
.sucsess_mode{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background: white;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .svg_block{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        font-size: 169px;
        background: #4fd69c;
        color: white;
    }
    .succsess_text {
        padding: 20px;
        padding-bottom: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 30px;
    }
    .sucsess_title{
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .sucsess_desc{
        font-size: 18px;
        line-height: 20px;
    }
}
.active {

    .sucsess_mode{
        opacity: 1;
        pointer-events:all;
    }
} 

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: white !important;
    background-color: black !important;
    border-color: transparent !important;
}

.section-contact-us{
    .contact-btn{
        background: #f4f5f7;
        color: #32325d;
        border: none;
        height: 45px;
        display: flex;
        align-items: center;
        transition: 0.3s;
        &:hover{
            background: black;
            color: white;
        }
    }
    .btn-hr{
        padding-bottom: 10px;
    }
    .bg-gradient-secondary{
        height: 100%;
    }
}

.coin-search {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-open .header-global {
    .container {
        position: relative;
    }
}

.first-modal-inner {
    padding: 15px 35px;
}

.header-global {
    position: relative;
}

.coin-text {
    margin-bottom: 24px;
    text-align: center;
}

.coin-input {
    width: 300px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    background: #6f83ee;
    color: white;
    outline: none;
    font-weight: 600;
    font-size: 18px;
}

.coin-input::placeholder {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.section-xl {
    padding-top: $spacer * 8;
    padding-bottom: $spacer * 8;
}

.section-lg {
    padding-top: $spacer * 6;
    padding-bottom: $spacer * 6;
}

.hero_logo_img {
    width: 600px;
    max-width: none;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.crypto-box {
    background: white;
    border-radius: 12px;
    padding: 31px 40px;
    overflow: hidden;
    transition: 0.3s all ease-in-out;

    &:last-child {
        margin-right: 0;
    }

    img {
        max-width: 60px;
        width: 100%;
        height: auto;
    }

    &.active,
    &:hover {
        box-shadow: 0px 14px 64px 0px rgba(15, 15, 15, 0.18) !important;
        // background: #fff;
        // filter: drop-shadow(rgba(128, 138, 157, 0.12) 0px 1px 2px) drop-shadow(rgba(128, 138, 157, 0.24) 0px 8px 32px);
    }

    .top {
        margin-bottom: 9px;

        a {
            color: black;
            font-weight: 700;
            font-size: 22px;
            // @include flex(center, flex-start);
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                display: block;
                margin-right: 15px;
                margin-left: -5px;
            }

            .unit {
                margin-left: 15px;
                color: #777e90;
                text-transform: uppercase;
            }
        }
    }

    .price {
        margin-bottom: 11px;
    }

    .bottom {
        display: flex;
        align-items: center;

        p {
            font-size: 18px;
            margin: 0;
            font-weight: 500;
            text-align: center;
        }

        .sale {
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            margin-left: 9px;
            padding: 4px 8px 3px 9px;
            border-radius: 24px;
            margin-bottom: 10px;
            margin-left: 20px;
        }
    }
}

.success {
    background: #58bd7d;

}

.critical {
    background: #d33535;
}

.coin-app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.top-title-block {
    margin: 30px 0;
}

.top-coins-contianer {
    a img {
        max-width: 60px;
    }

    padding: 0 40px;
}

.order-btn {
    color: black !important;
    transition: 0.3s;
    border: none !important;

    &:hover {
        background: black;
        color: white !important;
    }
}

.image-inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation_block {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 110%;

    canvas {
        height: 100%;
        width: 100%;
    }
}

.animatied-relative {
    overflow: hidden;
}

.section-sm {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
}

// Hero sections
.section-hero {
    @include media-breakpoint-up(md) {
        min-height: 500px;
    }

    .shape-container {
        padding-top: 5rem !important;
        padding-bottom: 3rem !important;
    }
}

// Circle sections
.section-shaped {
    position: relative;
    overflow: hidden;

    &.section-hero {
        &:before {
            top: 680px;
        }
    }

    .stars-and-coded {
        margin-top: 8rem;
    }

    .shape {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        span {
            position: absolute;
        }

        +.container {
            position: relative;
            // padding-top: 6rem;
            // padding-bottom: 0rem;
            height: 100%;
        }

        &.shape-skew {

            +.container {
                padding-top: 0;

                .col {
                    margin-top: -100px;
                }
            }

            +.shape-container {
                padding-top: 18rem;
                padding-bottom: 19rem;
            }
        }
    }

    .shape-skew {
        transform: skewY(-4deg);
        transform-origin: 0;

        span {
            transform: skew(4deg);
        }
    }

    // Color variations
    .shape-primary {
        background: linear-gradient(150deg, shapes-primary-color("step-1-gradient-bg") 15%, shapes-primary-color("step-2-gradient-bg") 70%, shapes-primary-color("step-3-gradient-bg") 94%);

        :nth-child(1) {
            background: shapes-primary-color("span-1-bg");
        }

        :nth-child(2) {
            background: shapes-primary-color("span-2-bg");
        }

        :nth-child(3) {
            background: shapes-primary-color("span-3-bg");
        }

        :nth-child(4) {
            background: shapes-primary-color("span-4-bg");
        }

        :nth-child(5) {
            background: shapes-primary-color("span-5-bg");
        }
    }

    .shape-default {
        background: linear-gradient(150deg, shapes-default-color("step-1-gradient-bg") 15%, shapes-default-color("step-2-gradient-bg") 70%, shapes-default-color("step-3-gradient-bg") 94%);

        :nth-child(1) {
            background: shapes-default-color("span-1-bg");
        }

        :nth-child(2) {
            background: shapes-default-color("span-2-bg");
        }

        :nth-child(3) {
            background: shapes-default-color("span-3-bg");
        }

        :nth-child(4) {
            background: shapes-default-color("span-4-bg");
        }

        :nth-child(5) {
            background: shapes-default-color("span-5-bg");
        }
    }

    .shape-light {
        background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%);

        :nth-child(1) {
            background: shapes-light-color("span-1-bg");
        }

        :nth-child(2) {
            background: shapes-light-color("span-2-bg");
        }

        :nth-child(3) {
            background: shapes-light-color("span-3-bg");
        }

        :nth-child(4) {
            background: shapes-light-color("span-4-bg");
        }

        :nth-child(5) {
            background: shapes-light-color("span-5-bg");
        }
    }

    .shape-dark {
        background: linear-gradient(150deg, shapes-dark-color("step-1-gradient-bg") 15%, shapes-dark-color("step-2-gradient-bg") 70%, shapes-dark-color("step-3-gradient-bg") 94%);

        :nth-child(1) {
            background: shapes-dark-color("span-1-bg");
        }

        :nth-child(2) {
            background: shapes-dark-color("span-2-bg");
        }

        :nth-child(3) {
            background: shapes-dark-color("span-3-bg");
        }

        :nth-child(4) {
            background: shapes-dark-color("span-4-bg");
        }

        :nth-child(5) {
            background: shapes-dark-color("span-5-bg");
        }
    }

    .shape-style-1 {
        span {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }

        .span-200 {
            height: 200px;
            width: 200px;
        }

        .span-150 {
            height: 150px;
            width: 150px;
        }

        .span-100 {
            height: 100px;
            width: 100px;
        }

        .span-75 {
            height: 75px;
            width: 75px;
        }

        .span-50 {
            height: 50px;
            width: 50px;
        }

        :nth-child(1) {
            left: -4%;
            bottom: auto;
            background: rgba(255, 255, 255, .1);
        }

        :nth-child(2) {
            right: 4%;
            top: 10%;
            background: rgba(255, 255, 255, .1);
        }

        :nth-child(3) {
            top: 280px;
            right: 5.66666%;
            background: rgba(255, 255, 255, .3);
        }

        :nth-child(4) {
            top: 320px;
            right: 7%;
            background: rgba(255, 255, 255, .15);
        }

        :nth-child(5) {
            top: 38%;
            left: 1%;
            right: auto;
            background: rgba(255, 255, 255, .05);
        }

        :nth-child(6) {
            width: 200px;
            height: 200px;
            top: 44%;
            left: 10%;
            right: auto;
            background: rgba(255, 255, 255, .15);
        }

        :nth-child(7) {
            bottom: 50%;
            right: 36%;
            background: rgba(255, 255, 255, .04);
        }

        :nth-child(8) {
            bottom: 70px;
            right: 2%;
            background: rgba(255, 255, 255, .2);
        }

        :nth-child(9) {
            bottom: 1%;
            right: 2%;
            background: rgba(255, 255, 255, .1);
        }

        :nth-child(10) {
            bottom: 1%;
            left: 1%;
            right: auto;
            background: rgba(255, 255, 255, .05);
        }

        @include media-breakpoint-down(md) {
            span {
                height: 120px;
            }
        }

        @include media-breakpoint-down(sm) {
            span {
                height: 90px;
            }
        }

        // shape color variations
        &.shape-primary {
            background: linear-gradient(150deg, shapes-primary-color("step-1-gradient-bg") 15%, shapes-primary-color("step-2-gradient-bg") 70%, shapes-primary-color("step-3-gradient-bg") 94%);
        }

        &.shape-default {
            // background: linear-gradient(150deg, shapes-default-color("step-1-gradient-bg") 15%, shapes-default-color("step-2-gradient-bg") 70%, shapes-default-color("step-3-gradient-bg") 94%);
            background: #1e1e1e;
        }

        &.shape-light {
            background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%);
        }

        &.shape-dark {
            background: linear-gradient(150deg, shapes-dark-color("step-1-gradient-bg") 15%, shapes-dark-color("step-2-gradient-bg") 70%, shapes-dark-color("step-3-gradient-bg") 94%);
        }
    }

    // Styles - works with a color variation class (e.g shapes-default)
    .shape-style-2 {
        span {
            height: 190px;
        }

        .span-sm {
            height: 100px;
        }

        :nth-child(1) {
            width: 33.33333%;
            top: 0;
            left: -16.66666%;
        }

        :nth-child(2) {
            width: 33.33333%;
            top: 0;
            left: 16.66666%;
            right: auto;
        }

        :nth-child(3) {
            width: 33.33333%;
            left: 49.99999%;
            bottom: auto;
        }

        :nth-child(4) {
            width: 33.33333%;
            top: 55%;
            right: -16.66666%;
        }

        :nth-child(5) {
            width: 33.33333%;
            bottom: 0;
        }

        @include media-breakpoint-down(md) {
            span {
                height: 120px;
            }
        }

        @include media-breakpoint-down(sm) {
            span {
                height: 90px;
            }
        }
    }

    .shape-style-3 {
        span {
            height: 140px;
        }

        .span-sm {
            height: 100px;
        }

        :nth-child(1) {
            width: 66%;
            left: -16.66666%;
            bottom: auto;
        }

        :nth-child(2) {
            width: 40%;
            top: 54%;
            //height: 320px;
            right: -16.66666%;
        }

        :nth-child(3) {
            width: 33.33333%;
            top: 34%;
            left: -16.66666%;
            right: auto;
        }

        :nth-child(4) {
            width: 60%;
            bottom: 0;
            right: -16.66666%;
            opacity: .6;
        }

        :nth-child(5) {
            width: 33.33333%;
            bottom: 0;
        }

        @include media-breakpoint-down(md) {
            span {
                height: 120px;
            }
        }

        @include media-breakpoint-down(sm) {
            span {
                height: 90px;
            }
        }
    }

}

// Device illustrations used on shape sections
.device-ill {
    pointer-events: none;
    position: absolute;
    display: flex;
    width: 1287px;
    left: 50%;
    margin-left: -644px;
    transform: scale(.5) rotate(-12deg) translateX(50px);
    transform-origin: 50% 20%;
    will-change: transform;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        padding: .875rem;
        background: #fff;
        box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 2px 6px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05);
    }

    .tablet-landscape {
        width: 512px;
        height: 352px;
        margin: 115px 50px 0;
    }
}
@media (max-width:1200px) {
    .hero_logo_img {
        width: 450px
    }
    .abount-inner-container .icon-about {
        width: 3rem;
        height: 3rem;
    }
    .abount-inner-container {
        .abount-description {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7098039216);
            height: 100px;
            line-height: 22px;
        }
        .about-title {
            font-size: 20px;
            line-height: 24px;
        }
    } 
    .crypto-box {
        padding: 20px;
    }
}

@media (max-width:991px) {
    .animatied-relative {
        .section-hero {
            .hero-shape-inner {
                padding-bottom: 6rem !important;
            }
            .shape-container {
                padding-top: 3rem !important;
                padding-bottom: 3rem !important;
            }
        }
    } 
    .navbar-collapse.collapsing, .navbar-collapse.show {
        padding: 1.5rem;
        border-radius: 12px;
        background: #e6e7eb;
    }
    .navbar-transparent .navbar-nav .nav-link {
        display: flex;
        align-items: center;
    }
    .section-lg {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .top-coins-contianer  .col-4{
        margin-bottom: 20px;
    }
    .abount-inner-container .abount-description {
        height: auto;
    }
    .carusel-section{
        .about-text-block{
            text-align: center;
        }
    }
    .coin-app {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .section-contact-us .contact-image {
        margin-bottom: 30px;
    }
    .footer {
        .footer-social  {
            justify-content: flex-start !important;

        }
        .footer_contacts_inner {
            align-items: flex-start;
        }
    }
}

@media (max-width:767px) {
    .footer {
        text-align: center;
        .footer-social {
            justify-content: center !important;
        }
        .footer_contacts_inner {
            align-items: center;
        }
        
        .footer-botoom{
            flex-direction: column-reverse;
            justify-content: center;
            .col-md-6{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .nav-footer {
            padding-bottom: 20px;
        }
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

    }
    .crypto-box {
        img {
            max-width: 45px;
        }
        .crypto-box .top a {
            color: black;
            font-weight: 700;
            font-size: 18px;
        }
        .price {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 20px;
        }
    } 
}
@media (max-width:575px) {
    .hero_logo_img {
        width: 280px;
    }
    .separator-bottom {
        top: auto;
        bottom: -1px;
    }
    .section {
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .about-container {
        margin-top: 30px;
    }
    .abount-inner-container {
        padding: 20px;
    }
    .row.row-grid > [class*=col-] + [class*=col-] {
        margin-top: 1.5rem;
    }
    .carusel-section {
        background-size: 50%;
    }
    .coin-app {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        .pb-7, .py-7 {
            padding-bottom: 3rem !important;
            padding-top: 3rem !important;
        }
    }
    .section-contact-us .contact-image img {
        width: 100%;
        height: 100%;
        max-height: 300px;
    }
    .section-contact-us .contact-btn {
        justify-content: center;
    }
    .footer-social-list {
        font-size: 16px;
    }
    .footer {
        .mt-md, .my-md {
            margin-top: 3rem !important;
            margin-bottom: 3rem !important;
        }
    }
}

@media (min-width:670px) {
    .device-ill {
        flex-wrap: wrap;
        width: 512px;
        margin-left: -50px;
        top: 215px;
        transform: rotate(-12deg);
        transform-origin: 100% 0;

        [class^=tablet] {
            margin: 0;
        }

        .tablet-landscape {
            width: 512px;
            height: 352px;
        }
    }
}

@media (min-width:880px) {
    .device-ill {
        width: 829px;
        margin-left: -10px;
        top: 20px;

        .tablet-landscape {
            align-self: flex-end;
            margin-right: 50px;
        }

        .phone-big {
            display: flex;
            width: 267px;
            height: 553px;
        }
    }
}

// Profile cover
.section-profile-cover {
    height: 580px;
    background-size: cover;
    background-position: center center;
}

@include media-breakpoint-down(md) {
    .section-profile-cover {
        height: 400px;
    }
}

// Components section (for demo)
.section-components {
    >.form-control {
        +.form-control {
            margin-top: .5rem;
        }
    }

    >.nav+.nav,
    >.alert+.alert,
    >.navbar+.navbar,
    >.progress+.progress,
    >.progress+.btn,
    .badge,
    .btn {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .btn-group {
        margin-top: .5rem;
        margin-bottom: .5rem;

        .btn {
            margin: 0;
        }
    }

    .alert {
        margin: 0;

        +.alert {
            margin-top: 1.25rem;
        }
    }

    .badge {
        margin-right: .1rem;
    }

    .modal-footer {
        .btn {
            margin: 0;
        }
    }
}


/* .floating-cards {
     perspective:1500px;
     position:relative;
     align-items:center
}

.floating-cards > div {
     position:absolute;
     -ms-flex-negative:0;
     flex-shrink:0;
     border-radius:8px;
     overflow:hidden
}
.floating-cards .shine {
     position:absolute;
     left:0;
     right:0;
     top:0;
     bottom:0;
     pointer-events:none
}
*/